---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

// Ambil props untuk SEO
const { 
  title = "Lakoffie | Kopi Murni Nusantara",
  description = "Nikmati kemurnian kopi pilihan langsung dari petani lokal. Lakoffie menghadirkan kopi murni tanpa campuran untuk pecinta kopi sejati.",
  ogImage = "/og-image.jpg"
} = Astro.props;
---
<html lang="id">
  <head>
  <script is:inline>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','G-KW1Q5CND1F');
  </script>

 <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CoffeeShop",
  "name": "Lakoffie",
  "image": "https://domain-master.com/img/logo.png",
  "@id": "https://domain-master.com",
  "url": "https://domain-master.com",
  "telephone": "+6285175285640",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Padaan, Kec. Pabelan",
    "addressLocality": "Kabupaten Semarang",
    "addressRegion": "Jawa Tengah",
    "postalCode": "50771",
    "addressCountry": "ID"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -7.280827,
    "longitude": 110.523860
  }
}
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogImage, Astro.url)} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <Navbar />
    <main>
      <slot /> 
    </main>
    <Footer />
    <script>
      import "../scripts/main.ts";
    </script>
  </body>
</html>
